/******************************************
*  Author : Emir Selimovic   
*  Created On : Wed Jan 08 2020
*  File : style.css
*******************************************/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #769dab;
    color: white;
}

h1, h3 {
    font-family: 'Press Start 2P', cursive;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container .description {
    float: right;
    margin-top: 14px;
}

.container .gametitle {
    float: left;
}

.theGame .container {
    text-align: center;
    margin-top: 50px;
}

.clearButton {
    margin-bottom: 50px;
    padding:0.5em 1.5em;
    border-radius: 2em;
    font-size: 1.2em;
    text-decoration:none;
    color: white;
    background-color: #4e9af1;
    border:0.16em solid rgba(255,255,255,0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clearButton:hover{
    border:0.16em solid rgba(255,255,255,1);

}

.container .gameContainer {
    width: 500px;
    margin: auto;
    height: 500px;
    background-color: antiquewhite;
    border: 2px solid rgb(96, 218, 235);
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
    display: flex;
}

.gridcell {
    flex: 1;
    height: 100%;
}

.colorSelection{
    margin-right: auto;
}
.center{
    margin: auto;
}